
#UserScreenConsole {
  
  
  height: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

 button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f4d136;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  width: 50%;
  padding: 10px;
  background-color: #ffffffef;
  margin: auto;
  padding: 10px;
  border: 1px solid rgb(136, 136, 136);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.modal-content input[type=email], input[type=date], input[type=password], input[type=text]{
  width:100%;
  text-align:left;
  
}


/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
#welcome,#UserScreenWelcome{
  background-color: #ebe7e7f5;
  
}

dialog{
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  width: fit-content;
  height: fit-content;
  color: -internal-light-dark(black, white);
  margin: auto;
  border-width: initial;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  padding: 1em;
  background: -internal-light-dark(white, black);
}


dialog:not([open]) {
  display: none;
}

.game_button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ff9100e5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(230, 149, 0);
}

.game_button:hover {background-color: #c97201e5}

.game_button:active {
  background-color: #856100;
  box-shadow: 0 5px rgb(146, 95, 1);
  transform: translateY(4px);

}.setting_button {
  display: inline-block;
  width: 75px;
  padding: 15px 15px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ffa600;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px rgb(207, 93, 0);
  word-wrap: break-word;

}

.setting_button:hover {
  background-color: #c72323;
  box-shadow: 0 5px rgb(94, 0, 0);
  transform: translateY(4px);
}

.setting_button:active {
  background-color: #c72323;
  box-shadow: 0 5px rgb(94, 0, 0);
  transform: translateY(4px);
}

h2{
font-family: 'Monoton', cursive;
font-family: 'Press Start 2P', cursive;
font-size: xx-large;
}
/*-------------------error---------------------*/

label.error {
	display: inline;
	color: rgb(167, 0, 0);
  font-weight: bold;
}
label.error {
  /* position: absolute; */
  bottom: 0;
	display: block;
	width: auto;
}
@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}
/*-------------------pacman neon sign--------------------------------------*/

.sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 6em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #d1ce02, 0 0 1.5rem #eb4527,
    -0.2rem 0.1rem 1rem #918700, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #e09b07, 0 0.5rem 3rem #8a6604;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe364;
    text-shadow: 0 0 0.6rem #da6b05, 0 0 1.5rem #ccae04,
      -0.2rem 0.1rem 1rem #fcb900, 0.2rem 0.1rem 1rem #574200,
      0 -0.5rem 2rem #ff6924, 0 0.5rem 3rem #be6600;
  }
  28%,
  33% {
    color: #ffd000;
    text-shadow: none;
  }
  82%,
  97% {
    color: #f7b500;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #f0b904;
    text-shadow: none;
  }
  100% {
    color: #f0cc01;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
.footer {
  text-align: center;
  height: 30%;
}

/*-------------page layout-----------------*/
/* * {
  box-sizing: border-box;
} */
.menu {
  width:20%;
  height:480;
  text-align:center;
  background-color:#1b1b1b;
  float: left;
  /* border-radius: 15%; */
  /* background-color:#590083ab; */

}

.menu input[type=text]{
  width:40%;
  text-align:center;
}

.menu a {
  /* background-color:#e5e5e5; */
  padding:4px;
  margin-top:7px;
  display:block;
  width:100%;
  height: 100%;
  color:"#1b1b1b";
  text-align:center;
  word-wrap: break-word;
  font-family: 'Monoton', cursive;
  font-family: 'Press Start 2P', cursive;
  font-size: large;

}

.main {
  float:left;
  width:60%;
  height: 100%;
  background-color:#1b1b1b;
  border: black;


}
@media screen and (max-width: 600px) {
  .main, .menu .div {
    width: 100%;
  }
}

/*---------------------input color design----------------------*/
input[type=color] {
    width: 22px;
    height: 22px; 
    border-radius: 50%;
    overflow: hidden;
}

input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}

/*----------------------------------------------------------------*/
#canvas{
  border:#005e83 22px solid ;
  background-color:#080808;
  /* background: radial-gradient(#000, #111);  */
  height: 100%;
}


#UserScreenConsole{
  background-color:#1b1b1b;
  height: 100%;
  display:none;
  background: radial-gradient(#000, #111); 
}
#aboutPara{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;

}